<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimer.mapper.TagMapper">

    <select id="selectAll" resultType="com.aimer.pojo.dto.TagDTO">
        select tag.tagName ,parentTag.tagName as 'parentName'
        from tag, (select id ,tagName from tag where isParent=1) as parentTag
        where tag.parentId=parentTag.id
    </select>
</mapper>